@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    background: url(m.jpg) no-repeat center center fixed;
    /* background-size: cover; */
    background-size: 1380px 780px;
}

.container {
    border: 0px solid red;
    color: aliceblue;
    position: absolute;
    top: 25%;
    left: 40%;
}

.container h1 {
    display: inline-block;
    font-size: 45px;
    border-bottom: 2px solid blue;
    margin-bottom: 43px;
    padding: 13px 0;
}

.box {
    width: 76%;
    margin: 13px -6 px;
    border-bottom: 2px solid blue;
}

.box input {
    font-family: 'Russo One', sans-serif;
    background: none;
    border: none;
    font-size: 20px;
    width: 100%;
    margin: 6px 45px;
    padding: -1px 0px;
    outline: none;
    color: white;
}

.box i {
    padding: 0 12px;
    width: 25px;
    float: left;
    text-align: center;
}

.btn {
    color: purple;
    cursor: pointer;
    outline: none;
    width: 25%;
    margin: 25px 90px;
    padding: 6px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.btn:hover {
    color: black;
    cursor: pointer;
    outline: none;
    width: 25%;
    margin: 25px 90px;
    padding: 6px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}